<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Cursos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/admin">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Cursos cadastrados
    </ion-list-header>
    <ion-item *ngFor="let course of courses">
      <ion-label>
        <h5>
          <ion-icon name="book-outline"></ion-icon> {{course.course}}
        </h5>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/courses/edit/', course._id]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteCourse(course._id)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

  <ion-button size="large" type="submit" expand="block" routerLink="/courses/create">Novo Curso</ion-button>
</ion-content>
