<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Turmas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/class">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input type="text" formControlName="class" placeholder="Turma" [(ngModel)]="inputclass"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" formControlName="courseId" placeholder="IDTurma" [(ngModel)]="inputcourseId">
              </ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" expand="block" (click)="createClass()">Cadastrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
