<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Turmas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/admin">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Turmas cadastradas
    </ion-list-header>
    <ion-item *ngFor="let item of class">
      <ion-label>
        <h5>
          <ion-icon name="mail-outline"></ion-icon> {{item.classe}}
        </h5>
        <p>
          <ion-icon name="lock-closed-outline"></ion-icon> {{item.courseId}}
        </p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/class/edit/', item._id]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteClass(item._id)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
  <ion-button size="large" type="submit" expand="block" routerLink="/class/create">Adicionar nova turma</ion-button>
</ion-content>
