<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Usuários
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Usuários cadastrados
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> Teste
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> Teste
        </p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear>
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear>
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>