<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Dashboard
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/dashboard">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card routerLink="/users">
          <ion-card-content>
            <ion-row>
              <ion-col col-4></ion-col>
              <ion-col col-4>
                <img src="../../assets/cards/users.png">
              </ion-col>
              <ion-col col-4></ion-col>
            </ion-row>
            <ion-card-header>
              <ion-card-title style="text-align: center;">Usuários</ion-card-title>
            </ion-card-header>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="">
          <ion-card-content>
            <ion-row>
              <ion-col col-4></ion-col>
              <ion-col col-4>
                <img src="../../assets/cards/class.png">
              </ion-col>
              <ion-col col-4></ion-col>
            </ion-row>
            <ion-card-header>
              <ion-card-title style="text-align: center;">Turmas</ion-card-title>
            </ion-card-header>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/courses">
          <ion-card-content>
            <ion-row>
              <ion-col col-4></ion-col>
              <ion-col col-4>
                <img src="../../assets/cards/course.png">
              </ion-col>
              <ion-col col-4></ion-col>
            </ion-row>
            <ion-card-header>
              <ion-card-title style="text-align: center;">Cursos</ion-card-title>
            </ion-card-header>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card routerLink="/students">
          <ion-card-content>
            <ion-row>
              <ion-col col-4></ion-col>
              <ion-col col-4>
                <img src="../../assets/cards/students.png">
              </ion-col>
              <ion-col col-4></ion-col>
            </ion-row>
            <ion-card-header>
              <ion-card-title style="text-align: center;">Alunos</ion-card-title>
            </ion-card-header>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
