<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Alunos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/admin">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Alunos cadastrados
    </ion-list-header>
    <ion-item *ngFor="let student of students">
      <ion-label>
        <h5>
          <ion-icon name="mail-outline"></ion-icon> {{student.name}}
        </h5>
        <p>
          <ion-icon name="lock-closed-outline"></ion-icon> {{student.class}}
        </p>
        <p>
          <ion-icon name="lock-closed-outline"></ion-icon> {{student.document}}
        </p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/students/edit/', student._id]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteStudent(student._id)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

  <ion-button size="large" type="submit" expand="block" routerLink="/students/create">Novo Aluno</ion-button>
</ion-content>
