<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Dashboard
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card routerLink="">
          <ion-card-content>
            <ion-row>
              <ion-col col-4></ion-col>
              <ion-col col-4>
                <img src="https://cdn-icons.flaticon.com/png/512/4430/premium/4430487.png?token=exp=1653177622~hmac=0cda65b05cdf66adc5303f8c44bd9d9d">
              </ion-col>
              <ion-col col-4></ion-col>
            </ion-row>
            <ion-card-header>
              <ion-card-title>Disciplinas</ion-card-title>
            </ion-card-header>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
